

.cardimage {
  height: 375px;
  object-fit: cover;
  width: 100%;
}
.appicon {
  width: 50px;
  display: block;
  margin-left: 15px;
}
.title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 32px;
  margin-left: 15px;
  padding-right: 0px;
}
.headerbosluk {
  margin-top: 20px;
  margin-bottom: 20px;
}
.all {
  text-align: right;
  color: #0000ff;
  width: 143px;
  float: right;
}
@media (min-width: 768px) and (max-width: 1025px)  {
.cardimage{
    height: 650px;
}
}
