<ion-content [fullscreen]="true">
  <ion-content>
    <ion-slides [options]="slideOpts" >
      <ion-slide *ngFor="let movie of moviesData;">
        <ion-card>
          <ion-img [src]="movie.poster_path" class="cardimage" ></ion-img>
          <ion-card-header class="cardheader">
            <ion-card-title class="cardtitle">{{movie.title}}</ion-card-title>
            <ion-card-subtitle class="cardsubtitle">{{movie.genres}}</ion-card-subtitle>
         
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>
