.cardtitle{
    font-size: 17px;
    font-weight: bold;
    height: 15px;
 
}
.cardheader{
    height: 100px;
    padding: 15px;
}
.cardsubtitle{
    font-size: 12px;
    font-weight: lighter;
    height: 15px;
    padding-top: 15px;

  
}
.cardimage{
   
    height: 375px;
    object-fit: cover;
    width: 100%;
   
}
